<div class="roomNameModal">

  <div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title">Create New Room</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <!-- prompt for entering a new room -->
    Enter a room name:<input type="text" ng-model="modal.newRoomName">
  </div>
  <div class="modal-footer">
    <button class="btn btn-lg btn-primary" type="button" ng-click="modal.createNewRoom();">Create New Room</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
  </div>
</div>
